---
title: High performance websites for Fintech firms — Under2
layout: _regular_page.njk
---
<style>
  [x-cloak] {
    display: none !important;
  }
</style>
<section x-data="handlePanels()" class="h-screen py-8 mx-auto max-w-screen-3xl px-u2-pad">
  <p>Set state to:</p>
  <button 
    class="p-2 my-4 bg-blue-500 rounded-md shadow-md hover:bg-green-400"
    @click="currentStatus='loading'"
    >loading</button>
  <button 
    class="p-2 my-4 bg-blue-500 rounded-md shadow-md hover:bg-green-400"
    @click="currentStatus='form'"
    >form</button>
  <button 
    class="p-2 my-4 bg-blue-500 rounded-md shadow-md hover:bg-green-400"
    @click="currentStatus='thankYou'"
    >thankYou</button>
  <p class="my-4">Current Status is :<span class="" x-text="currentStatus"></span></p>

  <div class="relative w-1/2 mt-12 ">

    <div  x-show.transition.opacity.duration.1000ms="checkStatus('loading')" class="absolute inset-0 " >
      <div class="p-8 bg-green-200">
        <p>Loading form</p>
      </div>
    </div>

    <div  x-cloak x-show.transition.opacity.duration.1000ms="checkStatus('form')" class="" >
      <form  id='formTest' name="" data-pageurl="{{page.url}}" class="p-8 bg-yellow-100">

        <label for="first_name" class="block">First name</label>
        <input name="first_name" id="first_name" type="text" class="form-input-text" >

        <label for="email" class="block">Email</label>
        <input  name="email" id="email" type="text"   class="form-input-text" >

        <label  for="position" class="block" >Position</label>
        <input  name="position" id="position"   type="text" class="form-input-text" >

      </form>
    </div>

    <div  x-show.transition.opacity.duration.1000ms="checkStatus('thankYou')" class="absolute inset-0" >
      <div class="p-8 bg-purple-200">
        <p>Thank you</p>
      </div>
    </div>

  </section>

  <script>
    let handlePanels = () => {
      return {
        currentStatus: 'loading',

        checkStatus(status) {
          return status == this.currentStatus
            ? true
            : false
        }
      }
    }
  </script>